.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    width: 1200px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.division{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.filtersDiv{
    width: 75%;
    display: flex;
}

@media (max-width: 1200px)
{
  .container
   {
        width: 800px;
   }
}

@media (max-width: 750px)
{
  .container
   {
        width: 100%;
   }
   .list{
        justify-content: center;
   }
   .filtersDiv{
        width: 100%;
   }
}

