.main{
    width: 100%;
    background-color: #F5DB13;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 10px 0px;
    position: relative;
}

.image{

}

.paths{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.path{
    color: #212121;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 800px)
{
    .main{
        justify-content: space-between;
        padding: 10px 5px;
    }
    .image{
        max-width: 80px;
    }
    .paths{
        width: 100%;
        margin-left: 5px;
    }
    .path{
        font-size: 14px;
    }
}